@font-face {
  font-family: 'Circular';
  font-display: auto;
  src: url('../../assets/fonts/circular-book.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Circular';
  font-display: auto;
  src: url('../../assets/fonts/circular-medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Circular';
  font-display: auto;
  src: url('../../assets/fonts/circular-bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Circular';
  font-display: auto;
  src: url('../../assets/fonts/circular-black.ttf') format('truetype');
  font-weight: 700;
}
