$mobile: 620px;
$tablet: 800px;
$desktop: 1000px;

$font-size: 16px;
$font-weight: 400;
$font-family: 'Circular';

$text-color-light: #393B43;
$text-color-dark: #F2F2F2;
$background-color-light: #FFFEFE;
$background-color-dark: #292A32;
$app-base-color: #7F7FDA;
$app-complimentary-color: #C5C5F4;
